.title {
  margin-block: 1rem;
  text-align: center;
}

.grid {
  display: flex;
  max-width: 60em;
  padding: 0;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.perPage {
  margin-bottom: 1rem;
  text-align: center;
}
